<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>Home Task One :: CIBL</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
        <!-- angular js -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <base href="/">
    </head>
    
    <body>
        <div ng-app="taskOne" ng-controller="productCtrl">
            <div class="container">
                <div class="row py-3 mt-3">
                    <div class="col-md-10 offset-md-1">
                        <div class="row py-2">
                            <div class="col-md-4">
                                <h5 class="font-weight-bold">Product&nbsp;List:</h5>
                            </div>
                            <div class="col-md-8">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" ng-model="type" name="searchType" id="offline" value="offline" ng-click="searchType(type)">
                                    <label class="form-check-label" for="offline">Offline Search</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" ng-model="type" name="searchType" id="live" value="live" ng-click="searchType(type)">
                                    <label class="form-check-label" for="live">Live Search</label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3" ng-show="type == 'live'">
                            <div class="col-md-8 mb-2">
                                <div class="input-group">
                                    <input name="search" ng-model="liveKeyword" type="text"class="form-control" placeholder="Search Product Here ..." id="searchInput">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button" id="searchBtn" ng-click="liveSearch()">Search</button>
                                    </div>
                                </div>    
                            </div>
                        </div>

                        <div class="row mt-3" ng-show="type == 'offline'">
                            <div class="col-md-8 mb-2">
                                <div class="input-group">
                                    <input ng-model="keyword" type="text"class="form-control" placeholder="Search Product Here ..." id="searchInput">
                                </div>    
                            </div>
                            
                            <div class="col-md-4 mb-2">
                                <button class="btn btn-danger" type="button" id="allProductBtn" ng-click="allProducts('')">All Products</button>
                            </div>
                        </div>

                        <div class="row" ng-if="productArr.length>0" ng-if="liveKeyword.length>0">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="productTable">
                                        <thead class="bg-success text-white">
                                            <th>#</th>
                                            <th>Product&nbsp;Name</th>
                                            <th>Product&nbsp;Category</th>
                                            <th>Stock&nbsp;Amount</th>
                                            <th>Selling&nbsp;Price</th>
                                            <th>Cost&nbsp;Price</th>
                                           
                                        </thead>
                                     
                                        <tbody>
                                            <tr ng-if="liveKeyword.length>0" ng-repeat="(key, p) in productArr | filter: liveKeyword | orderBy:'-id'">
                                                <td>{{ key+1 }}</td>
                                                <td>{{ p.product_name }}</td>
                                                <td>{{ p.category_name }}</td>
                                                <td>{{ p.stock }}</td>
                                                <td>{{ p.selling_price }}</td>
                                                <td>{{ p.cost_price }}</td>
                                            </tr>
                                            <!-- <tr ng-if="productArr.length == 0">
                                                <td colspan="6">No Product Found ....</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="products.length>0" ng-show="type == 'offline'">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="productTable">
                                        <thead class="bg-success text-white">
                                            <th>#</th>
                                            <th>Product&nbsp;Name</th>
                                            <th>Product&nbsp;Category</th>
                                            <th>Stock&nbsp;Amount</th>
                                            <th>Selling&nbsp;Price</th>
                                            <th>Cost&nbsp;Price</th>
                                           
                                        </thead>
                                     
                                        <tbody>
                                            <tr ng-repeat="(key, p) in products | filter: keyword | orderBy:'-id'">
                                                <td>{{ key+1 }}</td>
                                                <td>{{ p.product_name }}</td>
                                                <td>{{ p.category_name }}</td>
                                                <td>{{ p.stock }}</td>
                                                <td>{{ p.selling_price }}</td>
                                                <td>{{ p.cost_price }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var app = angular.module('taskOne', []);

            app.config(["$locationProvider", function($locationProvider) { $locationProvider.html5Mode(true); }]);

            app.controller('productCtrl', function($scope, $http, $filter, $location) {
                
                $scope.searchType = function (type) {

                    var liveUrl = '';
                    $scope.productArr = [];
                    $scope.products = [];
                    $scope.liveKeyword = '';
                    $scope.keyword = '';
                    
                    if (type == "live") {

                        $scope.liveSearch = function() {
                            if ($scope.liveKeyword) {
                                liveUrl = $location.path();
                                liveUrl = liveUrl+'?search='+$scope.liveKeyword;
                                $location.url(liveUrl);
                                                            
                                $scope.productArr.push({
                                        product_name: "Beef",
                                        category_name: "Meat",
                                        stock: "123",
                                        selling_price: "600",
                                        cost_price: "500"
                                    }, {
                                        product_name: "Potato",
                                        category_name: "Vegetable",
                                        stock: "100",
                                        selling_price: "20",
                                        cost_price: "15"
                                    }, {
                                        product_name: "Onion",
                                        category_name: "Vegetable",
                                        stock: "129",
                                        selling_price: "30",
                                        cost_price: "22"
                                    }, {
                                        product_name: "Carrot",
                                        category_name: "Vegetable",
                                        stock: "100",
                                        selling_price: "40",
                                        cost_price: "35"
                                });
                            }
                        };  
                    }

                    else if (type == "offline") {
                      
                        $location.url($location.path());
                      
                        $http.get("http://27.147.135.164/ecomm/api/products/get_product_list")

                        .then(function(response){ 
                            $scope.products = response.data.product_list;
                        });

                    }else {
                        alert('Choose Search Type')
                    }
                };

                $scope.allProducts = function(keyword) {

                    $scope.keyword = '';

                    $http.get("http://27.147.135.164/ecomm/api/products/get_product_list")

                    .then(function(response){ 
                        $scope.products = response.data.product_list;
                        $scope.keyword = keyword;
                    });
                };

            });
        </script>
    </body>
</html> 